<h3 mat-dialog-title >Vehicle Information</h3>
<div mat-dialog-content>
    <form [formGroup]="vehicleForm">
        <div class="form-group">
            <label >Type</label>
            <mat-select formControlName="type" placeholder="Select type" class="form-control"
            [ngClass]="{ 'is-invalid': isInvalid('type'), 'is-valid': isValid('type') }">
              <mat-option *ngFor="let type of types" [value]="type.value">
                {{type.name}}
              </mat-option>
            </mat-select>
            <ng-container *ngFor="let validation of validationMessages.required">
                <div class="form-text invalid-feedback" *ngIf="hasError('type', validation.type)">
                  {{ validation.message }}
                </div>
            </ng-container>
        </div>
        <div class="form-group">
            <label >Make</label>
            <mat-select (selectionChange)="selectMake($event)" formControlName="make" placeholder="Select make" class="form-control"
            [ngClass]="{ 'is-invalid': isInvalid('make'), 'is-valid': isValid('make') }">
              <mat-option *ngFor="let m of make" [value]="m.value">
                {{m.name}}
              </mat-option>
            </mat-select>
            <ng-container *ngFor="let validation of validationMessages.required">
                <div class="form-text invalid-feedback" *ngIf="hasError('make', validation.type)">
                  {{ validation.message }}
                </div>
            </ng-container>
        </div>
        <div class="form-group">
            <label >Model</label>
            <mat-select formControlName="model" placeholder="Select model" class="form-control" 
            [ngClass]="{ 'is-invalid': isInvalid('model'), 'is-valid': isValid('model') }">
              <mat-option *ngFor="let model of modelOfMake" [value]="model.value">
                {{model.name}}
              </mat-option>
            </mat-select>
            <ng-container *ngFor="let validation of validationMessages.required">
                <div class="form-text invalid-feedback" *ngIf="hasError('model', validation.type)">
                  {{ validation.message }}
                </div>
            </ng-container>
        </div>
        <div class="form-group">
          <label >Reg No</label>
          <input formControlName="regno" type="text" class="form-control" placeholder="Enter reg no" 
          [ngClass]="{ 'is-invalid': isInvalid('regno'), 'is-valid': isValid('regno') }">
          <ng-container *ngFor="let validation of validationMessages.required">
            <div class="form-text invalid-feedback" *ngIf="hasError('regno', validation.type)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
        <div class="form-group">
          <label >Capacity</label>
          <input formControlName="capacity" type="number" class="form-control" placeholder="Enter capacity" 
          [ngClass]="{ 'is-invalid': isInvalid('capacity'), 'is-valid': isValid('capacity') }">
          <ng-container *ngFor="let validation of validationMessages.required">
            <div class="form-text invalid-feedback" *ngIf="hasError('capacity', validation.type)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
        <div class="form-group">
          <label >Driver</label>
          <mat-select formControlName="driver" placeholder="Select driver" class="form-control"
          >
            <mat-option *ngFor="let driver of drivers" [value]="driver.id">
              {{driver.name}} {{driver.surname}}
            </mat-option>
          </mat-select>
      </div>
      <div class="form-group">
          <label >Schools</label>
          <mat-select multiple formControlName="schools" placeholder="Select schools" class="form-control"
          >
            <mat-option *ngFor="let school of schools" [value]="school.id">
              {{school.name}}
            </mat-option>
          </mat-select>
      </div>
      <div class="form-group">
        <label >Latitude</label>
        <input formControlName="lat" type="text" class="form-control" placeholder="Enter latitude coordinates" 
        [ngClass]="{ 'is-invalid': isInvalid('lat'), 'is-valid': isValid('lat') }">
        <ng-container *ngFor="let validation of validationMessages.required">
          <div class="form-text invalid-feedback" *ngIf="hasError('lat', validation.type)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <div class="form-group">
        <label >Longitude</label>
        <input formControlName="lon" type="text" class="form-control" placeholder="Enter longitude coordinates" 
        [ngClass]="{ 'is-invalid': isInvalid('lon'), 'is-valid': isValid('lon') }">
        <ng-container *ngFor="let validation of validationMessages.required">
          <div class="form-text invalid-feedback" *ngIf="hasError('lon', validation.type)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
    </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
  <button (click)="addSchool()" mat-button  class="text-primary">
    <span *ngIf="!isLoading">Save</span>
    <div *ngIf="isLoading" class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    </button>
</div>